constraints: aeson ==0.7.0.3,
             array ==0.5.0.0,
             attoparsec ==0.11.3.0,
             base ==4.7.0.0,
             bifunctors ==4.1.1.1,
             bytestring ==0.10.4.0,
             comonad ==4.2,
             containers ==0.5.5.1,
             contravariant ==0.5.2,
             deepseq ==1.3.0.2,
             distributive ==0.4.4,
             dlist ==0.7.0.1,
             exceptions ==0.6,
             filepath ==1.3.0.2,
             ghc-prim ==0.3.1.0,
             hashable ==1.2.1.0,
             integer-gmp ==0.5.1.0,
             lens ==4.0.7,
             mtl ==2.1.3.1,
             nats ==0.1.3,
             old-locale ==1.0.0.6,
             parallel ==3.2.0.4,
             pretty ==1.1.1.1,
             primitive ==0.5.2.1,
             profunctors ==4.0.3,
             random ==1.0.1.1,
             reflection ==1.4,
             rts ==1.0,
             scientific ==0.2.0.2,
             semigroupoids ==4.0.2,
             semigroups ==0.13.0.1,
             sodium ==0.10.0.2,
             split ==0.2.2,
             syb ==0.4.1,
             tagged ==0.7.2,
             template-haskell ==2.9.0.0,
             text ==1.1.1.2,
             time ==1.4.2,
             transformers ==0.3.0.0,
             transformers-compat ==0.3,
             unordered-containers ==0.2.4.0,
             utf8-string ==0.3.7,
             vector ==0.10.9.1,
             void ==0.6.1,
             x2048 ==0.1.0.0,
             zlib ==0.5.4.1
